<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Mercado Liebre - HOME</title>
</head>
<body>

    <header>
        <img src="/public/img/logo-mercado-liebre.svg">
        <input>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <div>Ofertas</div>
            <div>Tiendas oficiales</div>
            <div>Vender</div>
            <div>Ayuda</div>
            <div>Creá tu cuenta</div>
            <div>Ingresá</div>
            <div>Mis compras</div>
        </nav>
    </header>

    <main>
        <section>
            <div>Basado en tu última visita</div>
            <article>
                <img src="/public/img/img-cafetera-moulinex.jpg" title="Cafetera Moulinex">
                <div>$150.000</div>
                <div>Cafetera Moulinex</div>
            </article>
            <article>
                <img src="/public/img/img-macbook-pro-2019.jpg" title="Apple MacBook Pro 2019">
                <div>$12.000.000</div>
                <div>Apple MacBook Pro 2019</div>
            </article>
        </section>
        <section>
            <div>Sección de ofertas</div>
            <article>
                <img src="/public/img/img-samsung-galaxy-s10.jpg" title="Samsung Galaxy S10">
                <div>$2.000.000</div>
                <div>20% OFF</div>
                <div>Samsung Galaxy S10</div>
            </article>
            <article>
                <img src="/public/img/img-tv-samsung-smart.jpg" title="Samsung Smart TV">
                <div>$1.700.000</div>
                <div>15% OFF</div>
                <div>Samsung Smart TV</div>
            </article>
        </section>
    </main>

    <footer>
        <div>Pagá con tarjeta o en efectivo</div>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <div>Envío gratis desde $50.000</div>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <div>Seguridad, de principio a fin</div>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>

</body>
</html>