<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - HOME</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous"/>
</head>
<body>

    <header>
        <div class="encabezado">
            <img class="logo" src="/public/img/logo-mercado-liebre.svg">
            <input placeholder="Buscar productos, marcas y más">
            <button><i class="fas fa-search"></i></button>
            <div>
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <nav>
            <div>Ofertas</div>
            <div>Tiendas oficiales</div>
            <div>Vender</div>
            <div>Ayuda</div>
        </nav>
        <nav>
            <div>
                Creá tu cuenta <i class="far fa-id-card"></i>
            </div>
            <div>
                Ingresá <i class="fas fa-sign-in-alt"></i>
            </div>
            <div>
                Mis compras <i class="fas fa-shopping-basket"></i>
            </div>
        </nav>
        <div class="menu_hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <img class="banner" src="/public/img/img-home-banner.jpg" title="Banner">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img class="producto" src="/public/img/img-cafetera-moulinex.jpg" title="Cafetera Moulinex">
                <div class="carrito_compra">
                    <i class="fal fa-circle circulo"></i>
                    <i class="fas fa-truck carrito"></i>
                </div>
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-macbook-pro-2019.jpg" title="Apple MacBook Pro 2019">
                <div class="precio">$230.000</div>
                <div class="descuento">20% OFF</div>
                <h4>Apple MacBook Pro 2019</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-samsung-galaxy-s10.jpg" title="Samsung Galaxy S10">
                <div class="precio">$70.500</div>
                <div class="descuento">10% OFF</div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-tv-samsung-smart.jpg" title="Samsung Smart TV">
                <div class="precio">$23.200</div>
                <div class="descuento">5% OFF</div>
                <h4>Samsung Smart TV</h4>
            </article>
        </section>
        <section>
            <h2>Sección de ofertas</h2>
            <article>
                <img class="producto" src="/public/img/img-cafetera-moulinex.jpg" title="Cafetera Moulinex">
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-macbook-pro-2019.jpg" title="Apple MacBook Pro 2019">
                <div class="precio">$230.000</div>
                <div class="descuento">20% OFF</div>
                <h4>Apple MacBook Pro 2019</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-samsung-galaxy-s10.jpg" title="Samsung Galaxy S10">
                <div class="precio">$70.500</div>
                <div class="descuento">10% OFF</div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img class="producto" src="/public/img/img-tv-samsung-smart.jpg" title="Samsung Smart TV">
                <div class="precio">$23.200</div>
                <div class="descuento">5% OFF</div>
                <h4>Samsung Smart TV</h4>
            </article>
        </section>
    </main>

    <footer>
        <div class="iconos_footer">
            <i class="fas fa-credit-card"></i>
        </div>
        <h3 class="footer">Pagá con tarjeta o en efectivo</h3>
        <p class="footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <br>
        <div class="iconos_footer">
            <i class="fas fa-gift"></i>
        </div>
        <h3 class="footer">Envío gratis desde los $2.500</h3>
        <p class="footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <br>
        <div class="iconos_footer">
            <i class="fas fa-user-shield"></i>
        </div>
        <h3 class="footer">Seguridad, de principio a fin</h3>
        <p class="footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <br>
        <br>
        <div class="footer">Copyright © 1999-2022 MercadoLiebre S.R.L.</div>
    </footer>

</body>
</html>