* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #eac926;
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

.menu_hamburguesa {
    color: white;
    background-color: #1259c3;
    font-size: 30px;
    text-align: center;
    width: 45px;
    height: 40px;
    padding: 2px 0px 0px 0px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

main {
    background-color: #ebebeb;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 70px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px 15px 0px;
}

.formulario_box {
    display: block;
    height: 25px;
    width: 70%;
    font-size: 14px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 15px;
}

.boton_enviar {
    display: block;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    margin-top: 70px;
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: #1259c3;
    transition: all 200ms;
}

.boton_enviar:hover {
    background-color: #0022aa;
}

footer {
    margin: 0px;
    padding: 20px;
}

.iconos_footer {
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    width: 15%;
    transition: all 200ms;
}

.iconos_footer:hover {
    color: orangered;
}

h3.footer {
    color: rgb(54, 54, 54);
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

p.footer {
    color: #666;
    font-size: 12px;
    text-align: center;
    margin: 10px 0px 50px 0px;
}

div.footer {
    color: #666;
    font-size: 12px;
    text-align: left;
    margin: 0px;
}

@media (max-width:360px) {

    header {
        position: fixed;
        top: 0px;
        z-index: 1;
    }

    .encabezado {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 48%;
        margin-right: 5px;
    }

    .busqueda {
        width: 48%;
        text-align: center;
        margin-left: 5px;
    }

    .barra_busqueda {
        width: 80%;
    }

    .aviso {
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .navbar {
        display: none;
    }

    main {
        margin-top: 155px;
    }

}

@media (min-width:361px) and (max-width:768px) {

    .encabezado {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 48%;
        margin-right: 5px;
    }

    .busqueda {
        display: flex;
        margin-left: 5px;
    }

    .barra_busqueda {
        font-size: 3.4vw;
        width: 37vw;
        height: 6vw;
    }

    .lupa {
        font-size: 4vw;
    }

    .aviso {
        font-size: 4vw;
        text-align: center;
        width: 100%;
        margin: 10px 0px 30px 0px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar_izquierda div {
        font-size: 4vw;
        margin-bottom: 3px;
    }

    .navbar_derecha div {
        font-size: 4vw;
        margin-bottom: 3px;
    }

    .iconos_header {
        font-size: 4vw;
    }

    .menu_hamburguesa {
        display: none;
    }

    label {
        font-size: 5vw;
    }
    
    .formulario_box {
        height: 7vw;
        width: 70%;
        font-size: 4vw;
    }
    
    .boton_enviar {
        font-size: 6vw;
    }

    .iconos_footer {
        font-size: 10vw;
    }
    
    h3.footer {
        font-size: 4vw;
    }
    
    p.footer {
        font-size: 3.5vw;
    }
    
    div.footer {
        font-size: 3vw;
    }

}

@media (min-width:769px) {

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .logo {
        width:30%;
        margin-right: 10px;
    }

    .busqueda {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }

    .barra_busqueda {
        font-size: 1.7vw;
        width: 27vw;
    }

    .lupa {
        font-size: 1.7vw;
    }

    .aviso {
        font-size: 1.5vw;
        text-align: center;
        margin-left: 10px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar_izquierda {
        width: 340px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }

    .navbar_derecha {
        width: 340px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }

    .iconos_header {
        font-size: 15px;
    }

    .menu_hamburguesa {
        display: none;
    }

    label {
        font-size: 22px;
    }
    
    .formulario_box {
        height: 30px;
        width: 400px;
        font-size: 18px;
    }
    
    .boton_enviar {
        font-size: 25px;
    }

    .foot {
        display: flex;
        justify-content: space-between;
    }

    .condicion {
        width: 30%;
    }

    .iconos_footer {
        width: 50px;
        font-size: 35px;
    }
    
    h3.footer {
        font-size: 18px;
    }
    
    p.footer {
        font-size: 15px;
    }
    
    div.footer {
        font-size: 15px;
    }

}