* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #eac926;
    padding-bottom: 15px;
}

.menu_hamburguesa {
    color: white;
    background-color: #1259c3;
    font-size: 30px;
    text-align: center;
    width: 45px;
    height: 40px;
    padding: 2px 0px 0px 0px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

main {
    background-color: #ebebeb;
    margin: 0px;
    padding-bottom: 5px;
}

h2 {
    color: rgb(54, 54, 54);
    font-size: 24px;
    margin: 0px;
    padding: 40px 0px 40px 15px;
}

article {
    background-color: white;
    border: solid 1px #ebebeb;
    border-radius: 10px;
    margin: 0px 15px 10px 15px;
    padding: 15px;
}

img.banner , img.producto {
    width: 100%;
}

.circulo {
    color: #39b54a;
    font-size: 50px;
}

.carrito {
    color: #39b54a;
    font-size: 25px;
}

.precio {
    font-size: 18px;
    margin: 0px;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
}

h4 {
    font-size: 16px;
    margin: 0px;
}

footer {
    margin: 0px;
    padding: 20px;
}

.iconos_footer {
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

h3.footer {
    color: rgb(54, 54, 54);
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

p.footer {
    color: #666;
    font-size: 12px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

div.footer {
    color: #666;
    font-size: 12px;
    text-align: left;
    margin: 0px;
}

@media (max-width:360px) {

    nav {
        display: none;
    }

    h4 {
        display: none;
    }

}

@media (min-width:361px) and (max-width:768px) {

    .menu_hamburguesa {
        display: none;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width:769px) {

    img.logo {
        width: 50%;
    }

    .encabezado {
        display: flex;
    }

    nav {
        width: 50%;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;
    }

    .menu_hamburguesa {
        display: none;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}